<%= form_with(model: [ @article, @article.comments.build ], local: true, html: { "data-parsley-validate": true }) do |form| %>
  <div class="form-group">
    <%= form.label :commenter, class: "control-label" %><br/>
    <%= form.text_field :commenter, class: "form-control", placeholder: 'Enter your name',
                        'data-parsley-required': true, 'data-parsley-minlength': '5',
                        'data-parsley-trigger': 'blur'
    %>
  </div>
  <div class="form-group">
    <%= form.label :body, class: "control-label" %><br/>
    <%= form.text_area :body, class: "form-control", placeholder: 'Comment',
                       'data-parsley-required': true, 'data-parsley-minlength': '5',
                       'data-parsley-trigger': 'blur'
    %>
  </div>
  <%= form.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
