<div class="container">
  <div class="row h-100">
    <div class="col-auto mr-auto my-auto">
      <h1 class="display-5">Articles</h1>
    </div>
    <div class="col-auto my-auto">
      <a class="btn" href=<%= new_article_path %> role="button">
        <i class="fa fa-plus"></i> New
      </a>
    </div>
  </div>
</div>
<table class="table container">
  <thead>
    <tr>
      <th scope="col" class="w-25">Title</th>
      <th scope="col" class="w-50">Text</th>
      <th scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, article_path(article) %></td>
        <td><%= truncate article.text, length: 160 %></td>
        <td class="text-center">
          <a href=<%= edit_article_path(article) %> role="button">
            <i class="far fa-edit"></i>
          </a>
          <%= link_to article_path(article), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

