<div class="container">
  <div class="row h-100">
    <div class="col-auto mr-auto my-auto">
      <h1 class="display-5"><%= @article.title %></h1>
    </div>
    <div class="col-auto my-auto">
      <a class="btn" href=<%= edit_article_path(@article) %> role="button">
        <i class="far fa-edit"></i> Edit
      </a>
      <a class="btn" href=<%= articles_path %> role="button">
        <i class="far fa-arrow-alt-circle-left"></i> Back
      </a>
    </div>
  </div>
</div>
<div class="container eb-article mt-3 mb-5 mx-auto">
  <p class="text-justify"><%= @article.text%></p>
</div>
<div class="container mb-4">
  <h2>Comments:</h2>
  <div class="card-columns">
    <!--    Don't show empty comments -->
    <%= render @article.comments.reject { |x| x.id == nil } %>
  </div>
  <div class="container mt-3">
    <h3>Add a comment:</h3>
    <%= render 'comments/form' %>
  </div>

</div>