  <!DOCTYPE html>
<%= stylesheet_link_tag "application" %>
<html class="container">
  <head>
    <title>Extrabasic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron text-center">
      <h1 font>Extra Basic</h1>
      <p>A blog for extra girls who are basic af</p>
    </div>
      <%= yield %>
  </body>
</html>
