  <!DOCTYPE html>
<%= stylesheet_link_tag "application" %>

  <html class="container">
  <head>
    <title>Extrabasic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron text-center">
      <div id="title">Extra Basic</div>
      A blog for extra girls who are basic af
    </div>
      <%= yield %>
  </body>
</html>
